@font-face {
    font-family: japan;
    src: url(./1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    font-family: japan;
    // max-width: 1400px;
    
}
html,body{
height: 100%;
width: 100%;
background-color: #f1f1f1;

}
header{
    max-width: 1400px;
    margin: auto;
    padding-top: 3.5rem;
    width: 100%;
    text-align: center; 
    h1{
        font-weight: 700; 
        text-transform: uppercase;
        font-size: 2rem; 
        padding-bottom: 1.5rem;
    }
    p{font-size: .81rem;
       font-weight: 500;
    .w3-tag{
        
        background-color: black;
        color: white;
        padding: .2rem .5rem;

    }
    }
}
main{
    max-width: 1400px;
    padding: 1rem;
    margin: auto;
    .hero-section{
        .para{
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.66);
            margin-top: 3rem;
            .top-image{
                img{
                    width: 100%;

                }
            }
            .text{
                padding: 0 0.51rem;
                h1{
                    padding: 1rem 0;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }
                .description{
                    padding-bottom: 1rem;
                    font-size: 1rem;
                    letter-spacing: 0px;

                    span{
                        color: rgba(0, 0, 0, 0.493);
                        font-size: 1.3rem;
                    }
                }
                .detail{
                    font-size: 0.91rem;
                    line-height: 1.5;
                    padding-bottom: 2.5rem;
                }

                a{
                    border: 1px solid black;
                    padding: .81rem 1.5rem;
                    text-decoration: none;
                    background-color: #f1f1f1;
                    color: black;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    display: inline-block;
                   
                }
            }
        }
    }

    .aside{
        .name{
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.66);
            margin: 2rem 0;
            img{
                width: 100%;
            }
            .text{
                padding: 0 0.51rem; 
                padding-bottom: 1rem;
                h4{
                    margin:1rem 0;
                    font-size: 1.3rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }

        .posts{
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.66);
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:1rem;
            .head{
                h2{
                    font-weight: 500;
                    padding: 1rem .5rem;
                }
            }

            .main-post{
                padding-bottom: 1rem;
                .post{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding-left: 1rem;
                    img{
                        width: 60px;
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                    }
                }
            }
        }

        .tags{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.66);
            margin-top: 3rem;
            .tag{
                    padding: 1rem .5rem;
                    h2{  font-weight: 500;}}
                  
            .list{
                background-color: #ffffff;
                
               
                p{  
                    padding: .5rem 1rem;
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    font-size: .8rem;
                    span{
                   background-color: #cfcfcf;
                   padding: .1rem;     
                    }
                    
                } 
            }
            }
        }

    }
footer{
    background-color: #616161;
    padding: 2rem 1rem;
    a{
        display: inline-block;
         text-decoration: none;
    }
    .btn{
        padding: .7rem 1.5rem;

    }
    .next{
       
        background-color: rgb(0, 0, 0); 
        color: #ffffff;
    }
    .prev{
        color: #ffffff;
      background-color: rgba(0, 0, 0, 0.336);  
    }

    p{
        font-size: .8rem;
        color: #ffffff;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 980px) {
  main{
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  
  .aside{
    padding-top: 1rem;
    
  }

}
